<div class="container">
  <h1>Task 1</h1>
  <app-parent></app-parent>
  <ul>
    <li>Angular CLI</li>
    <li>TypeScript</li>
    <li>EventEmitter</li>
    <li>Component Styling</li>
    <li>Passing Data from child to parent</li>
    <li>Passing Data from parent to child</li>
  </ul>
</div>
<div class="container">
  <h1>Task 2</h1>
  <app-parent-employee></app-parent-employee>
  <ul>
    <li>Observables</li>
    <li>Built-in Directives</li>
    <li>Api calls</li>
    <li>Directives & Dependency Injection</li>
  </ul>
</div>
<div class="container">
  <h1>Task 3</h1>
  <app-parent-form></app-parent-form>
  <ul>
    <li>Angular Forms</li>
    <li>Form Validation</li>
    <li>Bootstrap in Angular</li>
    <li>HTTP Requests</li>
  </ul>
</div>
<div class="container">
  <h1>Task 4</h1>
  <app-parent-backend></app-parent-backend>
  <ul>
    <li>Node JS setup</li>
    <li></li>
    <li>Bootstrap in Angular</li>
    <li>HTTP Requests</li>
  </ul>
</div>
